.jumbotron {
	padding: 70px,30px,70px,30px;
	margin: 0 auto;
	background: #fff;
}

body {
	align:center;
	padding: 50px,0px,0px,0px;
	z-index:0;
}

.navbar-inverse {
	background: #721F1F;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background: #691818;
}

.footer {
	border-top: solid #721F1F 1px;
}